html,
body {
    height: 100%;
}

nav {
    background-color: #2B404F;
}

.footer {
    background-color: #252424;
}

.header {
    background-color: #76B1DB;
}
.boldIt{
    font-weight: bolder;
    color:coral;
}
.boldIt1{
    font-weight: bolder;
    color: rgb(69, 52, 221);
}
.boldIt2{
    font-weight: bolder;
    color: rgb(49, 197, 12);
}

@media (min-width: 768px) {
    .header {
        background-image: url("/img/W2D3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        background-color: #329cb2;
    }

    .hero {
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}